In [1]:
import pandas

df = pandas.read_csv("../../data/kaggle_housing_prices/train.csv")

Use `DataFrame.describe`

In [2]:
df[["LotArea", "SalePrice"]].describe()

             LotArea      SalePrice
count    1460.000000    1460.000000
mean    10516.828082  180921.195890
std      9981.264932   79442.502883
min      1300.000000   34900.000000
25%      7553.500000  129975.000000
50%      9478.500000  163000.000000
75%     11601.500000  214000.000000
max    215245.000000  755000.000000